.slider-container { 
  background-color: var(--black1);
  overflow-x: hidden;
  padding: 1rem;
}

.slider {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.slider::-webkit-scrollbar {
  width: 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.slider::-webkit-scrollbar-thumb {
  background-color: var(--black3);
  border-radius: 5px;
}